body{
    margin: 0;
    padding: 0;
    background: gray;
}
#header{
    width: 100%;
    height: 120px;
    background: black;
    overflow: auto;
    margin-bottom: 20px;
}
#title{
    color: #fddb3a;
    margin-left: 20px;
    margin-top:35px;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
    width:120px;
}
.btn-group{
    margin: auto;
    width :60%;
}
.btn-group button {
    background-color: yellow; /* Green background */
    border: 1px solid #fdd365; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin-bottom: 20px;
  }
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #fddb3a;
  }