<div class=a></div>
<div class=b></div>
<div class=c></div>
<div class=d></div>
<div class=e></div>
<div class=f></div>
<div class=g></div>
<div class=h></div>
<div class=i></div>
<div class=j></div>
<div class=k></div>
<div class=l></div>
<style>
    body{
        background:#5C434C;
        margin: 0 auto
    }
    div.a{
        width:80;
        height:80;
        background:#F09462;
        border-radius: 100px 0 0 0;
        -moz-border-radius: 100px 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:10;margin-left:10
    }
    div.b{
        width:80;height:80;
        background:#F5D6B4;
        border-radius: 100px 0 0 0;
        -moz-border-radius: 100 0 0 0;
        -webkit-border-radius: 100 0 0 0;
        margin-top: -80;margin-left: 110;
    }
    div.c{
        width:80;
        height:80;
        background:#F09462;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;margin-left: 210
    }
    div.d{
        width:80;
        height:80;
        background:#F5D6B4;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;margin-left:310;
    }
    div.e{
        width:80;
        height:80;
        background:#F5D6B4;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:20;margin-left:10;
    }
    div.f{
        width:80;
        height:80;
        background:#F09462;
        border-radius:100px 0 0 0;
        -moz-border-radius:100px 0 0 0;
        -webkit-border-radius:100px 0 0 0;
        margin-top:-80;margin-left:110;
    }
    div.g{
        width:80;
        height:80;
        background:#F5D6B4;
        border-radius:100px 0 0 0;
        -moz-border-radius:100px 0 0 0;
        -webkit-border-radius:100px 0 0 0;
        margin-top:-80;margin-left:210
    }
    div.h{width:80;
        height:80;
        background:#F09462;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;margin-left:310
    }
    div.i{
        width:80;
        height:80;
        background:#F09462;
        border-radius: 100px 0 0 0;
        -moz-border-radius: 100px 0 0 0;
        -webkit-border-radius: 100px 0 0 0;
        margin-top: 20;
        margin-left: 10
    }
    div.j{
        width:80;
        height:80;
        background:#F5D6B4;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;
        margin-left:110
    }
    div.k{
        width:80;
        height:80;
        background:#F09462;
        border-radius: 100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;
        margin-left:210
    }
    div.l{
        width:80;
        height:80;
        background:#F5D6B4;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:-80;margin-left:310
    }
</style>