<div class=a></div>
<div class=b></div>
<div class=c style="z-index: 100"></div>
<div class=d style="z-index: 100"></div>
<style>
    body {
        background:#0B2429
    }
    div.a {
        border-bottom:70px solid #998235;
        border-left:70px solid transparent;
        border-right:70px solid transparent;
        transform:rotate(270deg);
        width:70;
        margin-top:115;
        margin-left:52
    }
    div.b {
        border-bottom: 70px solid #1A4341;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        transform: rotate(90deg);
        width: 70px;
        margin-top:-70;
        margin-left:122
    }
    div.c {
        border-left: 70px solid transparent;
        border-right:70px solid transparent;
        border-bottom:70px solid #F3AC3C;
        position:fixed;margin-top:-70;
        margin-left:122
    }
    div.d {
            border-left: 70px solid transparent;
            border-right:70px solid transparent;
            border-top:70px solid #F3AC3C;
            position:fixed;
            margin-top:0;
            margin-left:122
    }
</style>