<div class=u></div>
<div class=d></div>
<div class=t></div>
<div class=c></div>
<style>
    body{
        background: #62374e
    }
    div.u{
        width: 50;
        height: 50;
        background: #fdc57b;
        margin-top: 50;
        margin-left: 42
    }
    div.d {
        width: 50;
        height: 50;
        background:#fdc57b;
        margin-top: -50;
        margin-left: 292
    }
    div.t {
        width:50;height:50;
        background:#fdc57b;margin-top:100;
        margin-left:42
    }
    div.c{width: 50;
        height: 50;
        background:#fdc57b;
        margin-top: -50;
        margin-left: 292
    }
</style>