<div class=a></div>
<div class=b></div>
<div class=c></div>
<style>
    body{
        background:#F3AC3C
    }
    div.a{
        width:200;
        height:200;
        background:#1A4341;
        margin-top:50;
        margin-left:92;
    }
    div.b{
        width:100;
        height:100;
        background:#998235;
        margin-top:-100;
        margin-left:92
    }
    div.c{
        width:50;
        height:50;
        background:#F3AC3C;
        margin-top:-50;
        margin-left:142
    }
</style>