<div class=u></div>
<div class=d></div>
<div class=t></div>
<style>
    body{
        background:#62306D;
        margin:0 auto
    }
    div.u{
        width:400;
        height:50;
        background:#F7EC7D
    }
    div.d{
        width:400;
        height:50;
        background:#E38F66
    }
    div.t{
        width:400;
        height:100;
        background:#AA445F
    }
</style>