<div class=a></div>
<div class=b></div>
<div class=c></div>
<style>
    body{
        background:#007065
    }
    div.a{
        width:0;
        height:0;
        border-left:125px solid transparent;
        border-right:125px solid transparent;
        border-bottom:100px solid #00A79D;
        margin-top:150;
        margin-left:67
    }
    div.b{
        width:0;
        height:0;
        border-left:125px solid transparent;
        border-right:125px solid transparent;
        border-bottom:100px solid #F5C181;
        margin-top:-150;margin-left:67;
    }
    div.c{
        width:0;
        height:0;
        border-left:125px solid transparent;
        border-right:125px solid transparent;
        border-bottom:100px solid #FFEECF;
        margin-top:-150;
        margin-left:67
    }
</style>