<div class=a></div>
<div class=b></div>
<div class=c></div>
<div class=d></div>
<body bgcolor=#6592CF>
<style>
    div.a{
        width:70;
        height:242;
        background:#243D83;
        border-top-right-radius:4.5em;
        border-bottom-right-radius:4.5em;
        margin-top:30;
        margin-left:137
    }
    div.b{
        width:70;
        height:242;
        background:#243D83;
        border-top-left-radius:4.5em;
        border-bottom-left-radius:4.5em;
        margin-top:-242;margin-left:177
    }
    div.c{
        width:40;
        height:182;
        background:#6592CF;
        border-top-right-radius:4.5em;
        border-bottom-right-radius:4.5em;
        margin-top:-212;margin-left:137
    }
    div.d{
        width:40;
        height:182;
        background:#6592CF;
        border-top-left-radius:4.5em;
        border-bottom-left-radius:4.5em;
        margin-top:-182;
        margin-left:207
    }
</style>