<div class=a></div>
<div class=b></div>
<div class=c></div>
<style>
    body{
        background:#E3516E
    }
    div.a{
        width:100;
        height:100;
        background:#51B5A9;
        border-radius:100px 0 0 0;
        -moz-border-radius:100 0 0 0;
        -webkit-border-radius:100 0 0 0;
        margin-top:50;margin-left:92
    }
    div.b{
        width:100;
        height:100;
        background:#FADE8B;
        border-radius:0 100px 0 0;
        -moz-border-radius:0 100 0 0;
        -webkit-border-radius:0 100 0 0;
        margin-top:-100;margin-left:192
    }
    div.c{
        width:100;
        height:100;
        background:#F7F3D7;
        border-radius:0 0 0 100px;
        -moz-border-radius:0 0 0 100;
        -webkit-border-radius:0 0 0 100;
        margin-top:0;
        margin-left:92
    }
</style>